@import "../../vars";

.cartView__img {
	margin: 0;
	padding: 0;
	height: 100px;
	width: auto;
	border: solid black 3px;
	border-radius: 1em;
}
.cartView__body {
  min-width: 20vw;
}
.cartView__counter{
    display: flex;
    border: 2px solid $color-pri;
    border-radius: 0.5em;
    margin-bottom: 1em;
	width: 150px;
}
