@import '../../vars';

.card{
    width: 18rem;
    .title{
        text-align: center;
        font-size: 1.25em;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .subtitle{
        text-align: center;
    }
    .button-pri{
        align-self: center;
        width: 50%;
        margin-bottom: 1rem;
        background-color: $color-pri;
        color: white;
    }
}