@import '../../vars';

.card{
    .title{
        text-align: center;
        font-size: 2em;
    }
    .subtitle{
        text-align: center;
    }
    .button{
        align-self: center;
        width: 50%;
        margin-bottom: 1rem;
        background-color: $color-pri;
    }
}