@import '../../vars';

.card{
    width: 18rem;
    .title{
        text-align: center;
        font-size: 2em;
    }
    .subtitle{
        text-align: center;
    }
    .button-pri{
        align-self: center;
        width: 50%;
        margin-bottom: 1rem;
        background-color: $color-pri;
        color: white;
    }
}