@import "../../vars";

.App-header {
    background-color: black;

    display: flex;
    flex-direction: row;
    align-items: center;
    
    padding: 10px;
    .navLink {
        width: 100%;
        text-decoration: none;
        color: $color-ter;
        padding: 10px;
    }
    .navMenu {
        .navLink:hover {
            font-weight: bold;
        }
    }
    #nav-dropdown-categorias{
        @extend .navLink;
    }
    .icons{
        color: $color-pri-disabled;
    }
}
